@model ProfileInfoViewModel

@{
    ViewData["Title"] = "Edit Profile";
    Layout = "_Layout";
}


<style>
    .form-group-sm {
        color: black;
    
    }
    .form-control {
   background-color:darkgray;
   border-color:black;
    }
    /*.Enums{
        width: 100px;
        height:50px;
       

    }*/
    a 
    {
        color:white;
        
    }
    .text-info
    {
        border:double; 
        border-color:black;
    }
    .Enums
    {
        border:double;
        border-left-color:green;
        border-right-color:red;
    }
   
     
</style>

<partial name="_NavigationMenuEditProfile" />


<form method="post" class="form">
    <div class="input form-group-sm">
        <label asp-for="FirstName"></label>
        <input asp-for="FirstName" class="form-control" placeholder="Иван"/>
        <span asp-validation-for="FirstName" class="danger"></span>
    </div>

    <div class="input form-group-sm">
        <label asp-for="LastName"></label>
        <input asp-for="LastName" class="form-control" placeholder="Иванов"/>
        <span asp-validation-for="LastName" class="danger"></span>
    </div>

  

    <div class="form-group-sm">
        <label asp-for="Height"></label>
        <input asp-for="Height" class="form-control" placeholder="0,1 - 2,5 метра" />
        <span asp-validation-for="Height" class="danger"></span>
    </div>

    <div class="form-group-sm">
        <label asp-for="Weight"></label>
        <input asp-for="Weight" class="form-control" placeholder="1 - 500  кг." />
        <span asp-validation-for="Weight" class="danger"></span>
    </div>
    <br />
    <div class="container">
        <div class="row">


            <div class="form-group-sm col-lg-4 col-md-4">
                <label class="Enums" asp-for="LookingFor"></label>
                <select class="Enums form-control-static" asp-for="LookingFor" asp-items="Html.GetEnumSelectList<LookingFor>()"></select>
                <span asp-validation-for="LookingFor" class="danger"></span>
            </div>

            <div class="form-group-sm col-lg-4 col-md-4">
                <label class="Enums" asp-for="Sex"></label>
                <select class="Enums form-control-static" asp-for="Sex" asp-items="Html.GetEnumSelectList<Sex>()"></select>
                <span asp-validation-for="Sex" class="danger"></span>
            </div>

            <div class="form-group-sm col-lg-4 col-md-4">
                <label class="Enums" asp-for="EyeColor"></label>
                <select class="Enums form-control-static" asp-for="EyeColor" asp-items="Html.GetEnumSelectList<EyeColor>()"></select>
                <span asp-validation-for="EyeColor" class="danger"></span>
            </div>



        </div>
       
        <div class="row">
            <div class="form-group-sm col-lg-6 col-md-6">
                <label class="Enums" asp-for="Country"></label>
                <select class="Enums form-control-static" asp-for="Country" asp-items="Html.GetEnumSelectList<Country>()"></select>
                <span asp-validation-for="Country" class="danger"></span>
            </div>

            <div class="form-group-sm col-lg-6 col-md-6">
                <label class="Enums" asp-for="City"></label>
                <select class="Enums form-control-static" asp-for="City" asp-items="Html.GetEnumSelectList<City>()"></select>
                <span asp-validation-for="City" class="danger"></span>
            </div>
        </div>

    </div>




        <br />


        <div class="form-group-lg col-lg-12">
            <label asp-for="Biography" class="text-area"></label>
            <textarea class="text-info col-lg-12 col-md-12 col-sm-12 col-xs-12" asp-for="Biography" rows="2" cols="140"></textarea>
            <span asp-validation-for="Biography" class="danger"></span>
        </div>
        <br />
        <div class="form-group-sm">
            <label asp-for="BirthDay"></label>
            <input asp-for="BirthDay" class="navbar-form">
            <span asp-validation-for="BirthDay" class="bg-primary"></span>

        </div>












        <button type="submit" class="btn btn-warning">Запази промените!</button>
</form>








