
<style>
    .col-lg-12 {
        text-align: center;
        
    }

    
</style>
 <br/>
 <div class="container">
     <div class=" row col-lg-12 contact"><strong>За контакт с администратор на сайта:</strong></div>
     <div class=" row col-lg-12">
         <br />
         </div>
         <div class=" row col-lg-12">
             <address>
                 <strong>Фейсбук:</strong> <a href="https://www.facebook.com/fight90">Валентин</a><br />
                 <strong>Телефон: 0894434762</strong> <br />
                 <strong>Имейл: Valio_180@abv.bg</strong>

             </address>
         </div>
     </div>
