@page

@{
    ViewData["Title"] = "Chat";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" type="text/css" href="~/css/Chat.css" />

<div class="col-12"><input class="form-control" type="text" id="messageInput" placeholder="Съобщение" /></div>
<br />
<div><input type="button" id="sendButton" value="Изпрати" /></div>
<div class="row">
    <div class="col-12">
        <hr />
    </div>
</div>
 <div class="row" id="messagesList"></div>
   








<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>


