@model SearchByUserNameViewModel
@{
    ViewData["Title"] = "SearchByUserName";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>SearchByUserName</h1>

<style>
    .wrapper {
        background-color: grey;
        height: 100vh;
    }
</style>

<br />
<partial name="_NavigationMenuSearch" />
<br />

<div class="container wrapper">

    <form method="get" class="form" asp-area="Search" asp-controller="SearchFor" asp-action="SearchByUserNameResult">
        <div class="row">

            <div class="input form-group col-lg-12 col-md-12 col-sm-12">
                <label asp-for="UserName"></label>
                <input asp-for="UserName" class="form-control" placeholder="Потребителско име">
                <span asp-validation-for="UserName" class="danger"></span>
            </div>
        </div>
        <br />
        <button type="submit" class="btn btn-warning">Търсене..</button>
    </form>
</div>
